@{
    ViewBag.Title = "Validate CSV";
}

<h2>@ViewBag.Title</h2>
<h5>Upload a CSV file for validation.</h5>

<div class="row">
    <div class="col-md-4">
        <button type="button" class="btn btn-primary btn-block">Download example template</button>
    </div>
    <div class="col-md-4">
        <button type="button" class="btn btn-primary btn-block">Upload CSV</button>
    </div>
</div>