@{
    ViewBag.Title = "Add data";
}
<h2>@ViewBag.Title</h2>
<h3>@ViewBag.Message</h3>

<div id="jsGrid"></div>


@section Scripts {

    @Scripts.Render("~/bundles/jsgrid")
    @Scripts.Render("~/bundles/app")


}