@{
    ViewBag.Title = "Input data";
}
<h2>@ViewBag.Title</h2>
<h5>Input collection dat and export to CSV.</h5>

<div class="row">
    <div class="col-md-3">
        <button type="button" class="btn btn-primary btn-block" id="export-csv">Export csv</button>
    </div>
</div>

<div class="row">
    <div id="jsGrid"></div>
</div>


@section Scripts {

    @Scripts.Render("~/bundles/jsgrid")
    @Scripts.Render("https://maps.googleapis.com/maps/api/js?v=3.exp&libraries=places&key=AIzaSyAWWaaJ2atEq-dBAFaX0iNwKdeWDPASF8A")

}